/*import google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

/*change background color to dark grey*/
body {
  background-color: #35363a;
}

/* navigation background color */
.navbar {
  background-color: #35363a; /*#333;*/
  overflow: hidden;
}

/* navigation elements configuration */
.navbar a {
  float: left;
  color: #f2f2f2;
  font-family: "Roboto";
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* change colors on hovering */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* change colors on being active */
.navbar a.active {
  background-color: #057da6;
  color: white;
}
